<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel"><i class="fa fa-fw fa-wrench"></i> Acerca de..</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: justify;">
                La aplicaci&oacute;n <b>SiGIA <i>(Sistema de Gesti&oacute;n de la Informaci&oacute;n
                        para la Auditor&iacute;a)</i></b> surge como una herramienta para gestionar
                la informaci&oacute;n del Sistema Territorial de Auditor&iacute;a
                de la Contralor&iacute;a Provincial de Matanzas, fue creada en soporte
                web, constituyendo el producto final de una investigaci&oacute;n
                llevada a cabo como Trabajo de Diploma para optar por el t&iacute;tulo
                de Ingeniero en Inform&aacute;tica, en la Universidad de Matanzas Sede
                Camilo Cienfuegos.
                <br/><br/>
                <b style="font-style: italic;">
                    Creada por:
                    <br />Aria&#769;n Castellanos Rodri&#769;guez.
                </b>
                <br/>
                <a style="float: right;font-size: small;" target="_blank" href="{{ asset('manual/Manual del software.pdf') }}">
                    <i class="fa fa-fw fa-file-pdf-o"></i>&nbsp;<i>Abrir Manual</i></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>